<html>
  <head>
    <meta charset=utf-8>
    <title>メモ</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
    <body>
      <div>
        <%= @memo_title %>
        <%= @memo_context %>
      </div>
      <div class="edit-button">
        <a href="/memo/<%= @memo_id %>/context">
          <button type="button">編集</button>
        </a>
      </div>
      <div class="delete-button">
        <form action="/memo/<%= @memo_id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="削除">
        </form>
      </div>
    </form>
  </body>
</html>