<html>
  <head>
    <meta charset=utf-8>
    <title>メモ</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
    <body>
      <h1 class="header__title">メモアプリ</h1>
      <div class="memo-context">
        <p class="memo-context_title"><%= @memo["title"] %></p>
        <textarea class="memo-context_context" readonly><%= @memo["text"] %></textarea>
      </div>
      <div class="form-item_action-items">
        <a href="/memo/<%= @memo["id"] %>/context" class="edit_page_link">
          <button type="button" class="is-edit">変更</button>
        </a>
        <form action="/memo/<%= @memo["id"] %>" method="post" class="delete-form">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="削除"class="is-delete">
        </form>
      </div>
  </body>
</html>