<html>
  <head>
    <meta charset=utf-8>
    <title>メモ</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">メモアプリ</h1>
    </header>
    <div data-alert class="flash_alert-box_radius">
      <%= flash[:danger] %>
    </div>
    <div class="edit-memo_form_area">
      <form action="/memo/<%= @memo["id"] %>/context" method="post" class="edit-memo_form">
        <input type="text" name="title" value="<%= h(@memo["title"]) %>" class="form-item_titlearea">
        <textarea type="text" name="text" class="form-item_textarea"><%= h(@memo["text"]) %></textarea>
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="submit" value="変更" class="is-change">
      </form>
    </div>
  </body>
</html>