<html>
  <head>
    <meta charset=utf-8>
    <title>メモ</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="header__title">メモアプリ</h1>
    <div>
      <a href="/new_memo">追加</a>
    </div>
    <div>
      <ul>
        <% if @memo_info %>
          <% @memo_info["memos"].each do |memo| %>
            <li>
              <a href="/memo/<%= memo["id"] %>">
              <%= memo["title"] %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </body>
</html>